<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="/include/head :: headFragment"></th:block>

<head>
    <link href="/css/login/typeSelection.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="join">
    <section class="join-inner">
        <div class="wrap">
            <h2>회원가입 유형을 선택해주세요.</h2>
            <div class="select-area">
                <div class="select-box-driver" onclick="location.href='/join/driver'">
                    <img src="/image/login/driver_btn.png">
                </div>
                <div class="select-box-submitter" onclick="location.href='/join/submitter'">
                    <img src="/image/login/manager_btn.png">
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>

