<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="/include/head :: headFragment"></th:block>

<head>
    <link href="/css/login/loginForm.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="login">
    <section class="login-inner">
        <div class="login-top"></div>
        <h1 class="login-title">
            배차.일보관리<span>시스템</span>
        </h1>
        <form method="post" name="loginForm">
            <div class="login-form">
                <h2>로그인</h2>
                <div class="login-input">
                    <label>아이디</label>
                    <input type="text" name="userId" autocomplete=off>
                </div>
                <div class="login-input">
                    <label>비밀번호</label>
                    <input type="password" name="userPwd">
                </div>

            </div>
            <div class="login-label">
                <button class="reg-btn" type="button" onclick="location.href='/join/typeSelect';">회원가입</button>
                <label>
                    <input type="checkbox" name="accountSave">
                    <span>아이디/패스워드 저장</span>
                </label>
            </div>
            <div class="login-btnGroup">
                <button class="login-btn" type="button" onclick="location.href='/trial'">체험, 둘러보기</button>
                <button class="login-btn" type="button" onclick="func.login()">로그인</button>
            </div>
        </form>
        <div class="question">
			<span class="ask-text">
				문의
			</span>
            <span>github.com/scyllacore</span>
        </div>

    </section>
</div>
</body>

<th:block th:replace="/include/auth_script :: scriptFragment"></th:block>

</html>


