.line {
  width: 100%;
  height: 1.5px;
  margin: 15px 0px;
  background: #0068b7;
}

.step8 {
  display: flex;
  justify: {
    content: center;
  }
  background: #d1d1d1;
  color: #333536;

  .step8_wrapper {
    width: 100%;
    max: {
      width: 600px;
    }
    padding: 20px 10px 10px;
    background: #ffffff;

    .sub_title {

      h2 {
        display: flex;
        justify: {
          content: center;
        }
        align: {
          items: center;
        }
        font: {
          size: 21px;
          weight: bold;
        }
        gap: 5px;

        img {

        }
      }
    }

    .search-option-form {
      div {
        padding: 15px 10px;
        margin: 20px;
        display: flex;
        justify: {
          content: space-between;
        }
        align: {
          items: center;
        }
        box: {
          shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px, rgba(0, 0, 0, 0.16) 0px 0px 1px 0px;
        }

        h3 {
          width: 70px;
          font: {
            size: 14px;
          }
        }
      }

      .period-wrapper {

        .period-inner {
          display: flex;

          input {
            position: relative;
            width: 120px;
            padding: 5px 10px;
            border: 1px solid #ddd;
            text: {
              align: center;
            }
            font: {
              size: 13px;
              family: "Noto Sans KR", sans-serif;
            }
            cursor: pointer;
          }

          span {
            margin: 7px 5px;
          }
        }
      }

      .item-wrapper, .sorting-wrapper {

        .item-inner, .sorting-inner {
          width: 400px;
          padding: 5px;
          border: 1px solid #ddd;
          margin: {
            left: 25px;
          }
          text: {
            align: center;
          }
          cursor: pointer;

          option {

          }
        }
      }

      .detail-search-wrapper {
        display: block;

        button {
          width: 100%;
          margin-top: 5px;
          border: 1px solid #ddd;
          background-color: #fff;
          color: #0068b7;
          font-size: 14px;
          line-height: 33px;
          font-weight: 600;
        }

        .detail-search-inner {
          display: none;

          div {
            display: block;
            padding: 5px;
            border: 1px solid #ddd;
            margin: 10px 30px;
            position: relative;

            input {
              width: 100%;
            }

            div {
              max-height: 200px;
              width: 95%;
              border: 1px solid #ccc;
              margin: 0;
              display: block; /* 초기에는 숨김 */
              position: absolute;
              font-size: 14px;
              background-color: #fff;
              overflow-y: auto;
              z-index: 1;
            }
          }
        }
      }

      .search-btn-wrapper {
        display: flex;
        justify: {
          content: center;
        }
        text: {
          align: center;
        }

        box: {
          shadow: none;
        }

        button {
          width: 120px;
          height: 40px;
          border: 1px solid #0068b7;
          text: {
            align: center;
            indent: 20px;
          }
          color: #0064c1;
          background: #fff;
          font: {
            size: 16px;
            weight: 600;
          }
          line: {
            height: 40px;
          }
          cursor: pointer;

          background: {
            image: url(/image/icons/ico_search-b.png);
            size: 23px;
            position: 25px 9px;
            repeat: no-repeat;
          }
        }
      }
    }
  }
}