<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="footerFragment">

<link rel="stylesheet" type="text/css" href="/css/manage/manageFooter.css">

  <footer class="manage-footer">
    <div class="content-area">
      <div class="base-wrap">
          <div class="content-item">
            <a href="https://github.com/scyllacore">
              <img class="logo-img" src="/image/footer/logo.png" alt="홍보페이지" />
            </a>
          </div>
          <div class="content-item">
            <a href="https://instagram.com/sickidyoon">
              <img class="blog-img" src="/image/footer/blog.png" alt="홍보블로그" />
              <span class="content-text">블로그</span>
            </a>
          </div>
          <div class="content-item">
            <a href="https://soundcloud.com/sickidyoon">
              <img class="youtube-img" src="/image/footer/youtube.png" alt="홍보영상1"/>
              <span class="content-text">홍보동영상①</span>
            </a>
          </div>
      </div>
    </div>

    <div>
      <address class="company-info">
        dumpWeb 데모 버전<br />
        메일 : <a href="yms8795@gmail.com">yms8795@gmail.com</a><br />
        전화 : <a href="tel:010-1234-5678">010-1234-5678</a><br />
      </address>
    </div>

  </footer>

</th:block>
</html>