<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scyllacore.dumpWeb.commonModule.db.mapper.file.FileMapper">

    <insert id="insertFileInfoByGroupReportId" >
        INSERT INTO group_report_file_tb(FILE_NAME, FILE_EXT, UUID, GROUP_REPORT_ID_FK)
        VALUES (#{fileName}, #{fileExt}, #{uuid}, #{groupReportIdFk})

        <selectKey keyProperty="fileId" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="findFileInfoByFileId">
        SELECT FILE_NAME, FILE_EXT, UUID, GROUP_REPORT_ID_FK FROM group_report_file_tb WHERE FILE_ID = #{fileId}
    </select>

    <delete id="deleteFile">
        DELETE
        FROM group_report_file_tb
        WHERE FILE_ID = #{fileId}
    </delete>

</mapper>