<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="resultFragment">

    <head>
        <link href="/css/manage/step6/step6Retrieval.css" rel="stylesheet" type="text/css">
    </head>

    <div class="search-result">
        <div class="search-result-wrapper">

            <div class="pop-up-close-wrapper">
                <button class="pop-up-close" type="button" onclick="popUpHandler.closePopUp('search-result')">
                    <i class="close-icon"></i>
                    <span class="screen-off"></span>
                </button>
            </div>

            <div class="list-summary-wrapper">
            </div>
            <div class="payment-wrapper">
                <button class="payment_btn" onclick="func.approveInBulk()">일괄결재</button>
                <button class="payment_btn" onclick="func.cancelInBulk()">일괄취소</button>
            </div>
            <div class="line"></div>

            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr class="mileage-key">
                        <th class="mileageId">No</th>
                        <th class="driveDate">날짜</th>
                        <th class="item">품목</th>
                        <th class="lastKm">최종주행(km)</th>
                        <th class="usedAmount">사용금액(원)</th>
                        <th class="memo">기타 (설명)</th>
                        <th class="replActiveChk">교환 주기</th>
                    </tr>
                    </thead>
                    <tbody class="mileage-tuple">
                    </tbody>
                </table>
            </div>

            <div class="page_wrap">
                <div class="page_nation">

                </div>
            </div>


        </div>
    </div>

</th:block>
</html>