<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="/manage/manage_header :: headerFragment"></th:block>

<th:block th:replace="/include/adding_manage_head :: headFragment"></th:block>

<head>
    <link href="/css/manage/step2/step2Index.css" rel="stylesheet" type="text/css">
</head>

<container class="step2">
    <input type="hidden" name="submitterIdFk" th:value="${session.submitterInfo.submitterId}" required>
    <input type="hidden" name="submitChk" value="false">
    <input type="hidden" name="userType">

    <div class="step2_wrapper">
        <div class="sub_title">
            <h2>
                Submitter Menu
            </h2>
        </div>

        <div class="line"></div>

        <div class="submitter-menu-wrapper">

            <div class="base-wrapper">
                <button class="summary-retrieval">요약 내역 조회</button>
                <button class="car-recruitment-notice-retrieval">차량 모집 공고 조회</button>
            </div>

            <div class="drive-order-wrapper">
                <button class="drive-order-registration">주문 등록</button>
                <button class="drive-order-retrieval">전표 조회</button>
            </div>
        </div>


    </div>
</container>

<script src="/js/manage/step2/params.js"></script>
<th:block th:replace="/include/manage_script :: scriptFragment"></th:block>
<script src="/js/manage/step2/loading.js"></script>

<th:block th:replace="/manage/manage_footer :: footerFragment"></th:block>
</html>

