.manage-header {
  background: #fff;
  padding: 5px 0;
  border-bottom: 2px solid #003e6d;
  position: relative;

  .menu-pop-up {

  }

  .base-wrap {
    padding: 5px 20px;
    overflow: hidden;

    .inner {

      *{
        background: #ffffff;
      }

      .inner-left{
        float: left;
        display: inline-block;

        .call-btn {
          margin: 20px;
          width: auto;
        }
      }

      .user-id-line {
        max-width: 310px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0px 15px;
        font-size: 24px;
        font-weight: 900;

        &::after{
          content: "";
          width: 140px;
          position: absolute;
          bottom: 0px;
          background-color: #cce0f3;
          height: 10px;
          left: 50%;
          transform: translateX(-50%);
          z-index: -1;
        }

      }

      .inner-right {
        float: right;
        display: inline-block;

        button{
          margin: 20px;
          width: auto;
          font-size: 17px;
          font-weight: bold;
        }
      }
    }
  }
}