.menu-wrap {
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.35);

  .manage-menu {
    width: 80%;
    max:{
      width: 430px;
    }
    top: 0;
    bottom: 0;
    right: 0px;
    position: fixed;
    background: #fff;
    overflow:{
      y: auto;
    }

    .top-area {
      padding: 25px 10px;
      position: relative;
      font:{
        size: 15px;
        weight: 600;
      }
      color: #fff;
      background: #002c5a;

      .bar {
        width: 1px;
        height: 12px;
        margin: 0 10px;
        display: inline-block;
        background: #eee;
      }

      button {
        position: relative;
        color: #fff;
        font:{
          weight: 600;
        }
        background: #002c5a;
        cursor: pointer;
      }

      .close-btn {
        float: right;

        img {
          border: 0 none;
        }
      }
    }

    .category {

      li {
        p {
          a {
            width: 100%;
            padding: 20px 0 20px 20px;
            border:{
              bottom: 1px solid #ddd;
            }
            display: inline-block;
            text:{
              align: left;
              decoration: none;
            }
            font:{
              size: 15px;
              weight: 600;
            }
            color: #555;
            background: #fff;

            span {
              font:{
                weight: bold;
              }
              color: blue;
            }
          }
        }
      }
    }
  }
}