<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="scriptFragment">
  <script src="/js/include/base.js"></script>
  <script src="/js/include/jsonHandler.js"></script>
  <script src="/js/include/urlHandler.js"></script>
  <script src="/js/include/request.js"></script>
  <script src="/js/include/requestHandler.js"></script>
  <script src="/js/include/inputHandler.js"></script>
  <script src="/js/include/activeInputHandler.js"></script>
  <script src="/js/include/responseHandler.js"></script>
  <script src="/js/auth/authHandler.js"></script>
  <script src="/js/auth/cookieHandler.js"></script>
  <script src="/js/auth/loading.js"></script>
  <script src="/js/auth/params.js"></script>

</th:block>
</html>