<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="footerFragment">

<link rel="stylesheet" type="text/css" href="/css/common/footer.css">

  <footer class="manage-footer">
    <div class="content-area">
      <div class="base-wrap">
        <div class="content-item">
          <a href="https://kw.worknsales.com/main/">
            <img class="logo-image" src="/image/footer/logo.png" alt="홍보페이지" />
          </a>
        </div>
        <div class="content-item">
          <a href="https://m.blog.naver.com/kiwontech2">
            <img class="blog-image" src="/image/footer/blog.png" alt="홍보블로그" />
            <span class="content-item-text">블로그</span>
          </a>
        </div>
        <div class="content-item">
          <a href="https://youtu.be/UYOVB-HeA-s">
            <img class="youtube-image" src="/image/footer/youtube.png" alt="홍보영상1"/>
            <span class="content-item-text">홍보동영상①</span>
          </a>
        </div>
        <div class="content-item">
          <a href="https://youtu.be/jfT4asf-23Y">
            <img class="youtube-image" src="/image/footer/youtube.png" alt="홍보영상2"/>
            <span class="content-item-text">홍보동영상②</span>
          </a>
        </div>
      </div>
    </div>

    <div>
      <address class="company-info">
        기원테크(주) 서울특별시 구로구 디지털로31길 53<br />
        이앤씨벤처드림타워5차 509호<br />
        메일 : <a href="315@kiwontech.com">100@kiwontech.com</a><br />
        회사전화 : <a href="tel:+02-6012-7406">02-6012-7406</a><br />
        대표전화 : <a href="tel:010-3717-7406">010-3717-7406</a><br />
      </address>
    </div>
  </footer>

</th:block>
</html>