<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="footerFragment">

<link rel="stylesheet" type="text/css" href="/css/footer.css">

    <!--! 푸터 -->
    <footer>
      <div class="contentArea">
        <div class="footerWrapper">
          <div class="con">
            <a href="https://kw.worknsales.com/main/">
              <img src="/image/footer/logo.png" alt="홍보페이지" />
              <!--<p>기원골재 <br/>홍보페이지</p>-->
            </a>
          </div>
          <div class="con">
            <a href="https://m.blog.naver.com/kiwontech2">
              <img src="/image/footer/footer_blog.png" alt="홍보블로그" />
            </a>
          </div>
          <div class="con">
            <a href="https://m.blog.naver.com/kiwontech2">
              <img src="/image/footer/footer_movie_1.png" alt="홍보영상1" style="width:60px; margin-top: 5px;"/>
            </a>
          </div>
          <div class="con">
            <a href="https://m.blog.naver.com/kiwontech2">
              <img src="/image/footer/footer_movie_2.png" alt="홍보영상2" style="width:60px; margin-top: 5px;"/>
            </a>
          </div>
        </div>
      </div>

      <div>
        <address>
          주소 기원테크(주) | 서울특별시 구로구 디지털로31길 53
          이앤씨벤처드림타워5차 509호<br />
          메일 : <a href="315@kiwontech.com">100@kiwontech.com</a><br />
          회사전화 : <a href="tel:+02-6012-7406">02-6012-7406</a><br />
          대표전화 : <a href="tel:010-3717-7406">010-3717-7406</a><br />
        </address>
      </div>
    </footer>


</th:block>
</html>