<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="headFragment">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="">
    <meta name="keyword" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link href="/css/include/style.css" rel="stylesheet" type="text/css">
    <link href="/css/include/loading.css" rel="stylesheet" type="text/css">
    <link href="/css/include/header.css" rel="stylesheet" type="text/css">
    <script src="/js/include/header.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>

    <title>일보관리시스템</title>
  </head>

</th:block>
</html>