<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="headerFragment">

    <th:block th:replace="/include/head :: headFragment"></th:block>

    <header class="manage-header">
        <div class="menu-pop-up"></div>
        <div class="top-area">
            <div class="base-wrap">
                <div class="inner">
					<button class="call-btn">
						<img src="/image/login/ico-call.png" alt="" onclick="document.location.href='tel:01037177406'">
					</button>

                    <span class="user-id-line" th:if="${session.loginInfo} != null">
					[[${session.loginInfo.userId}]]
				    </span>

                    <div class="inner-right">
                        <ul>
                            <li>
                                <button class="logout-btn" href="#" onclick="logout();">로그아웃</button>
                            </li>
                            <li>
                                <button class="menu-btn" onclick="toggleLeftMenu()">메뉴</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:replace="/include/menu :: menuFragment"></th:block>

    </header>

</th:block>
</html>