<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="scriptFragment">

    <script src="/js/include/popUp.js"></script>
    <script src="/js/include/base.js"></script>
    <script src="/js/include/requestObj.js"></script>
    <script src="/js/include/requestHandling.js"></script>
    <script src="/js/include/responseHandling.js"></script>
    <script src="/js/include/speechRecognition.js"></script>

</th:block>
</html>