<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="resultFragment">

    <head>
        <link href="/css/manage/step11/step11DriverRetrieval.css" rel="stylesheet" type="text/css">
    </head>

    <div class="driver-search-result">
        <div class="search-result-wrapper">

            <div class="pop-up-close-wrapper">
                <button class="pop-up-close" type="button" onclick="popUpHandler.closePopUp('driver-search-result')">
                    <i class="close-icon"></i>
                    <span class="screen-off"></span>
                </button>
            </div>

            <div class="title-wrapper">
                기사 리스트
            </div>
            <div class="line"></div>

            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr class="driver-key">
                        <th>No</th>
                        <th class="carNo">기사 차번호</th>
                        <th class="name">담당자</th>
                    </tr>
                    </thead>
                    <tbody class="driver-tuple">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</th:block>
</html>