/* 외부 스타일시트 import */
@import url(reset.css);

/* 삭제 */
/* 전역 스타일 설정 */
/* body {
  background: #ddd;
} */

span {
  color: var(--color-bg-border-blue);
}
.common_btn {
  cursor: pointer;
  text-align: center;
  border: 1px solid #0068b7;
  background: #fff;
  font-size: 16px;
  color: #0064c1;
  font-weight: 600;
  width: 120px;
  height: 40px;
}

/* 전역 변수 및 상수 설정 */
:root {
  /* 폰트 크기 */
  --font-large: 24px;
  --font-medium: 15px;
  --font-small: 14px;
  --font-X_small: 13px;

  /* 폰트 굵기 */
  --weight-bold: 600;

  /* 색상 */
  --color-black: #333;
  --color-gray: #555;
  --color-bg-border-blue: #0068b7;
  --color-border-gray: #ddd;
}

/* 삭제 */
/* 페이지 본문 스타일 */
/* .sub_con_wrapper {
  padding: 40px 30px 100px;
  background: #fff;
} */

#maxwrap {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
}

/* 삭제 */
/* .wp80 {
  width: 80%;
} */

/* 페이지 제목 스타일 */
.subTitle_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.subTitle_wrapper h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
}

.info {
  cursor: pointer;
}

.subTitle_wrapper .location_ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  white-space: nowrap;
}

.subTitle_wrapper .location_ul li {
  color: var(--color-gray);
  font-size: var(--font-X_small);
}

.subTitle_wrapper .location_ul .arrow_right {
  position: absolute;
  left: 22px;
  top: 1px;
}

/* 조회 양식 스타일 */
.inquiry_form {
  margin: 30px 0 10px;
  border: 1px solid #ddd;
  padding: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 운행 기간, 주유, 요소수, 정비 스타일 */
.operating_period {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.operating_period h1 {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 5px;
}

.form-row {
  display: flex;
  gap: 100px;
  position: relative;
}

.form-row .col label {
  font-size: var(--font-X_small);
  color: var(--color-gray);
}

.form-row .col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.form-row .col:first-child::after {
  content: "~";
  position: absolute;
  left: 50%;
}

.form-row .col input {
  border: 1px solid var(--color-border-gray);
  padding: 5px 10px;
  cursor: pointer;
}

.conbox {
  width: 80%;
  padding: 5px 10px;
  border: 1px solid var(--color-border-gray);
}

.flatpickr-day.today {
  border: 1px solid var(--color-bg-border-blue) !important;
}

.search_container {
  text-align: center;
}

/* 검색 버튼 스타일 */
.search_btn {
  line-height: 38px;
  background-image: url(/images/ico_search-b.png);
  background-position: 25px 9px;
  background-repeat: no-repeat;
  background-size: 23px;
  text-indent: 20px;
}

.result_search {
  margin: 20px 0;
  text-align: center;
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
}

.agreement_container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.line {
  width: 100%;
  height: 2px;
  background: var(--color-bg-border-blue);
}

.table_container {
  display: grid;
  text-align: center;
  margin-top: 5px;
  color: var(--color-black);
  white-space: nowrap;
}

th {
  font-weight: var(--weight-bold);
}

th,
td {
  border: 1px solid var(--color-border-gray);
  padding: 10px 10px;
}

/* 모바일 스타일 */
@media (max-width: 439px) {

  .content {
    display: block;
  }
  .content h1 {
    justify-content: center;
    margin-bottom: 10px;
  }
  .conbox {
    width: 100%;
  }
  .form-row {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .form-row .col input {
    padding: 5px 5px;
  }
  .form-row .col:first-child::after {
    content: "";
  }
  .table_container {
    white-space: normal;
  }
  .inquiry_form {
    padding: 15px;
  }
  .operating_period {
    text-align: center;
  }
  .operating_period label {
    padding: 5px;
  }
  #flex_important{
    display: flex;
    flex-wrap: wrap;
  }
  /* 전역 변수 및 상수 설정 */
  :root {
    /* 폰트 크기 */
    --font-large: 20px;
    --font-medium: 11px;
    --font-small: 10px;
    --font-X_small: 9px;
  }
}

/* 모바일 스타일 */
@media (min-width: 440px) and (max-width: 550px) {
  .form-row {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .form-row .col input {
    padding: 5px 5px;
  }
  .form-row .col:first-child::after {
    content: "";
  }
  .table_container {
    white-space: normal;
  }

  /* 전역 변수 및 상수 설정 */
  :root {
    /* 폰트 크기 */
    --font-large: 21px;
    --font-medium: 12px;
    --font-small: 11px;
    --font-X_small: 10px;
  }
}

/* 태블릿 스타일 */
@media (min-width: 551px) and (max-width: 768px) {
  .form-row {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .form-row .col input {
    padding: 5px 5px;
  }
  .form-row .col:first-child::after {
    content: "";
  }
  /* 전역 변수 및 상수 설정 */
  :root {
    /* 폰트 크기 */
    --font-large: 22px;
    --font-medium: 13px;
    --font-small: 12px;
    --font-X_small: 11px;
  }
}

/* 데스크탑 스타일 */
@media (min-width: 769px) and (max-width: 1024px) {
  .form-row {
    gap: 20px;
  }
  .form-row .col input {
    padding: 5px 5px;
  }
  .form-row .col:first-child::after {
    content: "";
  }
  /* 전역 변수 및 상수 설정 */
  :root {
    /* 폰트 크기 */
    --font-large: 23px;
    --font-medium: 14px;
    --font-small: 13px;
    --font-X_small: 12px;
  }
}
