<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="resultFragment">

    <head>
        <link href="/css/manage/step7/step7DriverRetrieval.css" rel="stylesheet" type="text/css">
    </head>

    <div class="driver-search-result">
        <div class="search-result-wrapper">

            <div class="pop-up-close-wrapper">
                <button class="pop-up-close" type="button" onclick="closePopUp('driver-search-result')">
                    <i class="close-icon"></i>
                    <span class="screen-off"></span>
                </button>
            </div>

            <div class="title-wrapper">
                기사 리스트
            </div>
            <div class="line"></div>

            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr class="table-key">
                        <th class="thr-carNo">기사 차번호</th>
                        <th class="thr-name">담당 기사 이름</th>
                    </tr>
                    </thead>
                    <tbody class="table-driver-tuple">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</th:block>
</html>