html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;

}

body {
	line-height: 1;
	font-family: 'Noto Sans KR';
	box-sizing: border-box;
}

article, aside, details, figcaption,
figure, footer, header, hgroup,
menu, nav, section {
	display: block;
}

.ui-datepicker-trigger {
	display: none;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input,
select,
textarea {
	vertical-align: middle;
	border: 1px solid #ddd;
	box-sizing: border-box;
	color: #616161;
	background: #fff;
}


/* ! mobile */
@media screen and (max-width: 280px) {
	.GolSection {
		max-width: 700px;
		width: 96%;
		margin: 0 auto;
		padding: 0 2%;
	}

	.GolSection h2 {
		font-size: 18px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.GolSection form {
		margin-bottom: 15px;
	}

	.GolSection form fieldset>input {
		display: none;
		width: 0;
		height: 0;
		padding: 0;
		margin: 0;
	}

	.GolSection form fieldset>label {
		font-size: 13px;
		border: 1px solid #d1d1d1;
		border-radius: 15px;
		padding: 8px 16px;
		margin-bottom: 13px;
		display: inline-block;
		cursor: pointer;
		box-sizing: border-box;
		color: #333;
	}

	.GolSection form fieldset>#rdOli:checked+label,
	.GolSection form fieldset>#rdDEF:checked+label,
	.GolSection form fieldset>#rdEngOil:checked+label,
	.GolSection form fieldset>#rdFix:checked+label,
	.GolSection form fieldset>#rdNote:checked+label {
		color: rgb(0, 203, 230);
		border-color: rgb(0, 203, 230);
	}

	.GolSection form fieldset>label:not(:first-of-type) {
		margin-left: 8px;
	}

	.GolSection ul {
		list-style: none;
		border-top: 2px solid #0068b7;
		padding-top: 20px;
	}

	.GolSection li {
		width: 100%;
		font-weight: bold;
		display: flex;
		margin-bottom: 4px;
		align-items: center;
		position: relative;
		justify-content: space-between;
	}

	.GolSection li:first-child{
		/* justify-content: start; */
		gap: 5px;
	}

	input#date {
		height: 25px;
		width: 85%;
	}

	.checkbox{
		width: 50%;
		display: flex;
		align-items: center;
	}

	label {
		/* display: flex; */
		align-items: center;
		gap: 5px;
	}

	.golLabel {
		font-size: 13px;
		position: absolute;
		width: 30%;
	}

	.golVoiceImg {
		border-radius: 25px;
		width: 17%;
		vertical-align: middle;
	}

	label img {
		cursor: pointer;
	}

	.golInputSpan {
		width: 100%;
		padding-left: 70px;
		line-height: 1.4;
		font-size: 12px;
		display: flex;
		position: relative;
	}

	.golIn {
		float: right;
		height: 28px;
		width: 100%;
	}

  /* style.css 204번째 줄 font-size 충돌로 사이즈가 바뀌지 않아서 가져옴 */
	input[type=text], input[type=password], input[type=number], input[type=file], input[type=tel], textarea {
    padding-left: 10px;
    height: 35px; }
  @media screen and (max-width: 425px){
      input[type=text], input[type=password], input[type=number], input[type=file], input[type=tel], textarea {
        padding-left: 5px;
        height: 28px !important;
        font-size: 12px;}
  }

	.GolSection>div:first-of-type {
		text-align: center;
		margin-bottom: 30px;
	}

	.GolSection>div:first-of-type button {
		font-size: 14px;
		border: 1px solid #000;
		cursor: pointer;
	}

	.GolSection>div:first-of-type button:nth-child(3) {
		width: 28%;
	}

	.GolSection>div:first-of-type button:not(:first-child) {
		margin-left: 2px;
	}

	.GolSection>div:first-of-type button {
		background-color: #fff;
	}

	.GolSection>div:first-of-type button:last-child {
		width: 34%;
	}

	.GolSection [class ^='golPopup'] {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		box-sizing: border-box;
		flex-shrink: 0;
		display: none;
		align-items: center;
		justify-content: center;
	}

	.GolSection [class ^='golPopup'].active {
		display: flex;
	}

	.GolSection [class ^='golPopup'] div {
		width: 94%;
		background-color: #fff;
		position: relative;
	}

	.GolSection [class ^='golPopup'] .material-symbols-outlined {
		position: absolute;
		right: 15px;
		top: 15px;
		color: #fff;
		cursor: pointer;
	}

	.GolSection [class ^='golPopup'] p {
		background-color: #0068b7;
		color: #fff;
		padding: 20px;
		margin-bottom: 15px;
		font-size: 12px;
	}

	.GolSection [class ^='golPopup'] input {
		margin: 0 0 20px 10px;
		background: none;
		border: none;
		font-size: 20px;
		border: 1px solid #0068b7;
		padding: 8px;
		cursor: pointer;
	}

	.GolSection [class ^='golPopup'] input:hover {
		background-color: #0068b7;
		color: #fff;
	}


	.GolSection table {
		max-width: 1200px;
		width: 100%;
		margin: 0 auto 40px;
		border-top: 2px solid #0068b7;
		box-sizing: border-box;
	}

	.GolSection table thead {
		background-color: #f2f2f2;
	}

	.GolSection table thead tr th {
		font-size: 14px;
		padding: 20px 0;
		text-align: center;
	}

	.GolSection table tbody tr {
		border-bottom: 1px solid #ddd;
	}

	.GolSection table thead tr th,
	.GolSection table tbody tr td {
		border-left: 1px solid #ddd;
		vertical-align: middle;
	}

	.GolSection table thead tr th:last-child,
	.GolSection table tbody tr td:last-child {
		border-right: 1px solid #ddd;
	}

	.GolSection table tbody tr td {
		font-size: 12px;
		padding: 20px 0;
		text-align: center;
	}

	.GolSection table tbody tr td:nth-child(2),
	.GolSection table tbody tr td:nth-child(3) {
		width: 15%;
	}

	.GolSection table tbody tr td:nth-child(4) {
		width: 20%;
	}

	.GolSection table tbody tr td:nth-child(1),
	.GolSection table tbody tr td:nth-child(5) {
		width: 10%;
	}

	.GolSection table tbody tr td:nth-child(6) {
		width: 22%;
	}
}

/* ! mobile */
@media screen and (min-width: 281px) and (max-width: 767px) {
	.GolSection {
		max-width: 700px;
		width: 96%;
		margin: 0 auto;
		padding: 0 2%;
	}

	.GolSection h2 {
		font-size: 18px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.GolSection form {
		margin-bottom: 15px;
	}

	.GolSection form fieldset>input {
		display: none;
		width: 0;
		height: 0;
		padding: 0;
		margin: 0;
	}

	.GolSection form fieldset>label {
		font-size: 13px;
		border: 1px solid #000;
		border-radius: 15px;
		padding: 8px 10px;
		margin-bottom: 13px;
		display: inline-block;
		cursor: pointer;
		box-sizing: border-box;
	}

	.GolSection form fieldset>#rdOli:checked+label,
	.GolSection form fieldset>#rdDEF:checked+label,
	.GolSection form fieldset>#rdEngOil:checked+label,
	.GolSection form fieldset>#rdFix:checked+label,
	.GolSection form fieldset>#rdNote:checked+label {
		color: rgb(0, 203, 230);
		border-color: rgb(0, 203, 230);
	}

	.GolSection form fieldset>label:not(:first-of-type) {
		margin-left: 4px;
	}

	.GolSection ul {
		list-style: none;
		border-top: 2px solid #0068b7;
		padding-top: 20px;
	}

	.GolSection li {
		/* width: 100%; */
		font-weight: bold;
		display: flex;
		margin-bottom: 4px;
		align-items: center;
		position: relative;
		justify-content: space-between;
	}

	.GolSection li:first-child{
		/* justify-content: start; */
		gap: 5px;
	}

	input#date {
		height: 25px;
		width: 80%;
	}

	.golSearch {
		margin-left: -10%;
	}

	.checkbox{
		width: 40%;
		display: flex;
		align-items: center;
		/* margin-left: 5%; */
	}

	label {
		/* display: flex; */
		align-items: center;
		gap: 5px;
	}

	.golLabel {
		font-size: 13px;
		position: absolute;
		width: 30%;
	}

	.golVoiceImg {
		border-radius: 25px;
		width: 14%;
		vertical-align: middle;
	}

	label img {
		cursor: pointer;
	}

	.golInputSpan {
		width: 100%;
		padding-left: 90px;
		line-height: 1.4;
		font-size: 12px;
		display: flex;
		position: relative;
	}

	.golIn {
		float: right;
		height: 28px;
		width: 100%;
	}

  /* style.css 204번째 줄 font-size 충돌로 사이즈가 바뀌지 않아서 가져옴 */
	input[type=text], input[type=password], input[type=number], input[type=file], input[type=tel], textarea {
    padding-left: 10px;
    height: 35px; }
  @media screen and (max-width: 425px){
      input[type=text], input[type=password], input[type=number], input[type=file], input[type=tel], textarea {
        padding-left: 5px;
        height: 28px !important;
        font-size: 12px;}
  }

	.GolSection>div:first-of-type {
		text-align: center;
		margin-bottom: 30px;
	}

	.GolSection>div:first-of-type button {
		font-size: 13px;
		width: 20%;
		border: 1px solid #000;
		cursor: pointer;
	}

	.GolSection>div:first-of-type button:not(:first-child) {
		margin-left: 3px;
	}

	.GolSection>div:first-of-type button {
		background-color: #fff;
	}

	.GolSection>div:first-of-type button:nth-child(4) {
		width: 25%;
	}

	.GolSection [class ^='golPopup'] {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		box-sizing: border-box;
		flex-shrink: 0;
		display: none;
		align-items: center;
		justify-content: center;
	}

	.GolSection [class ^='golPopup'].active {
		display: flex;
	}

	.GolSection [class ^='golPopup'] div {
		width: 94%;
		background-color: #fff;
		position: relative;
	}

	.GolSection [class ^='golPopup'] .material-symbols-outlined {
		position: absolute;
		right: 15px;
		top: 15px;
		color: #fff;
		cursor: pointer;
		;
	}

	.GolSection [class ^='golPopup'] p {
		background-color: #0068b7;
		color: #fff;
		padding: 20px;
		margin-bottom: 15px;
		font-size: 12px;
	}

	.GolSection [class ^='golPopup'] input {
		margin: 0 0 20px 10px;
		background: none;
		border: none;
		font-size: 20px;
		border: 1px solid #0068b7;
		padding: 8px;
		cursor: pointer;
	}

	.GolSection [class ^='golPopup'] input:hover {
		background-color: #0068b7;
		color: #fff;
	}


	.GolSection table {
		max-width: 1200px;
		width: 100%;
		margin: 0 auto 40px;
		border-top: 2px solid #0068b7;
		box-sizing: border-box;
	}

	.GolSection table thead {
		background-color: #f2f2f2;
	}

	.GolSection table thead tr th {
		font-size: 14px;
		padding: 10px 0;
		text-align: center;
	}

	.GolSection table tbody tr {
		border-bottom: 1px solid #ddd;
	}

	.GolSection table thead tr th,
	.GolSection table tbody tr td {
		border-left: 1px solid #ddd;
		vertical-align: middle;
	}

	.GolSection table thead tr th:last-child,
	.GolSection table tbody tr td:last-child {
		border-right: 1px solid #ddd;
	}

	.GolSection table tbody tr td {
		font-size: 12px;
		padding: 15px 0;
		text-align: center;
	}

	.GolSection table tbody tr td:nth-child(2),
	.GolSection table tbody tr td:nth-child(3) {
		width: 18%;
	}

	.GolSection table tbody tr td:nth-child(4) {
		width: 18%;
	}

	.GolSection table tbody tr td:nth-child(1),
	.GolSection table tbody tr td:nth-child(5) {
		width: 8%;
	}

	.GolSection table tbody tr td:nth-child(6) {
		width: 17%;
	}
}

/* ! tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
	.GolSection {
		max-width: 1200px;
		width: 90%;
		margin: 0 auto;
		padding: 0 5%;
	}

	.GolSection h2 {
		font-size: 18px;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}

	.GolSection form {
		margin-bottom: 60px;
	}

	.GolSection form fieldset>input {
		display: none;
		width: 0;
		height: 0;
		padding: 0;
		margin: 0;
	}

	.GolSection form fieldset>label {
		font-size: 13px;
		border: 1px solid #000;
		border-radius: 15px;
		padding: 10px 20px;
		margin-bottom: 30px;
		display: inline-block;
		cursor: pointer;
	}

	.GolSection form fieldset>#rdOli:checked+label,
	.GolSection form fieldset>#rdDEF:checked+label,
	.GolSection form fieldset>#rdEngOil:checked+label,
	.GolSection form fieldset>#rdFix:checked+label,
	.GolSection form fieldset>#rdNote:checked+label {
		color: rgb(0, 203, 230);
		border-color: rgb(0, 203, 230);
	}

	.GolSection form fieldset>label:not(:first-of-type) {
		margin-left: 20px;
	}

	.GolSection form fieldset ul {
		list-style: none;
		border-top: 2px solid #0068b7;
		padding-top: 20px;
	}

	.GolSection form fieldset ul li {
		margin-bottom: 4px;
		font-size: 13px;
		display: flex;
		align-items: center;
		position: relative;
	}

	.GolSection form fieldset ul li .golInputSpan {
		flex: 1;
		line-height: 1.4;
		font-size: 12px;
	}

	.GolSection form fieldset ul li:nth-child(1) .golInputSpan {
		margin-left: 15.4%;
	}

	.GolSection form fieldset ul li .golLabel {
		width: 8%;
		position: relative;
		margin-right: 10px;
	}

	.GolSection form fieldset ul li input[type=date] {
		width: 95%;
		height: 35px;
		font-size: 18px;
	}

	.GolSection form fieldset ul li:first-of-type label:last-of-type {
		width: 6%;
	}

	.GolSection form fieldset ul li input[type=text],
	.GolSection form fieldset ul li input[type=number] {
		width: 100%;
		height: 35px;
		font-size: 18px;
	}

	.GolSection form fieldset ul li .golVoiceImg {
		border-radius: 25px;
		width: 20%;
		vertical-align: middle;
		cursor: pointer;
	}

	.GolSection form fieldset ul li img {
		cursor: pointer;
	}

	.GolSection form fieldset ul li textarea {
		width: 100%;
		font-size: 18px;
	}

	.GolSection>div:first-of-type {
		text-align: center;
		margin-bottom: 50px;
	}

	.GolSection>div:first-of-type button {
		font-size: 18px;
		width: 20%;
		border: 1px solid #000;
		line-height: 50px;
		cursor: pointer;
	}

	.GolSection>div:first-of-type button:not(:first-child) {
		margin-left: 40px;
	}

	.GolSection>div:first-of-type button:nth-child(2) {
		background-color: #0068b7;
		color: #fff;
	}

	.GolSection>div:first-of-type button:not(:nth-child(2)) {
		background-color: #fff;
	}

	.GolSection>div:first-of-type button:nth-child(3),
	.GolSection>div:first-of-type button:nth-child(4) {
		width: 25%;
	}

	.GolSection [class ^='golPopup'] {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		box-sizing: border-box;
		flex-shrink: 0;
		display: none;
		align-items: center;
		justify-content: center;
	}

	.GolSection [class ^='golPopup'].active {
		display: flex;
	}

	.GolSection [class ^='golPopup'] div {
		width: 30%;
		background-color: #fff;
		position: relative;
	}

	.GolSection [class ^='golPopup'] .material-symbols-outlined {
		position: absolute;
		right: 15px;
		top: 15px;
		color: #fff;
		cursor: pointer;
		;
	}

	.GolSection [class ^='golPopup'] p {
		background-color: #0068b7;
		color: #fff;
		padding: 20px;
		margin-bottom: 15px;
	}

	.GolSection [class ^='golPopup'] input {
		margin: 0 0 20px 10px;
		background: none;
		border: none;
		font-size: 20px;
		border: 1px solid #0068b7;
		padding: 8px;
		cursor: pointer;
	}

	.GolSection [class ^='golPopup'] input:hover {
		background-color: #0068b7;
		color: #fff;
	}


	.GolSection table {
		max-width: 1200px;
		width: 100%;
		margin: 0 auto 60px;
		border-top: 2px solid #0068b7;
		box-sizing: border-box;
	}

	.GolSection table thead {
		background-color: #f2f2f2;
	}

	.GolSection table thead tr th {
		font-size: 14px;
		padding: 20px 0;
		text-align: center;
	}

	.GolSection table tbody tr {
		border-bottom: 1px solid #ddd;
	}

	.GolSection table thead tr th,
	.GolSection table tbody tr td {
		border-left: 1px solid #ddd;
	}

	.GolSection table thead tr th:last-child,
	.GolSection table tbody tr td:last-child {
		border-right: 1px solid #ddd;
	}

	.GolSection table tbody tr td {
		font-size: 12px;
		padding: 20px 0;
		text-align: center;
	}

	.GolSection table tbody tr td:nth-child(1),
	.GolSection table tbody tr td:nth-child(2),
	.GolSection table tbody tr td:nth-child(5) {
		width: 20%;
	}

	.GolSection table tbody tr td:nth-child(3) {
		width: 30%;
	}

	.GolSection table tbody tr td:nth-child(4) {
		width: 5%;
	}
}

/* ! desktop */
@media screen and (min-width:1280px) {
	.GolSection {
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
	}

	.GolSection h2 {
		font-size: 18px;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}

	.GolSection form {
		margin-bottom: 60px;
	}

	.GolSection form fieldset>input {
		display: none;
		width: 0;
		height: 0;
		padding: 0;
		margin: 0;
	}

	.GolSection form fieldset>label {
		font-size: 13px;
		border: 1px solid #ddd;
		border-radius: 15px;
		padding: 10px 20px;
		margin-bottom: 30px;
		display: inline-block;
		cursor: pointer;
	}

	.GolSection form fieldset>#rdOli:checked+label,
	.GolSection form fieldset>#rdDEF:checked+label,
	.GolSection form fieldset>#rdEngOil:checked+label,
	.GolSection form fieldset>#rdFix:checked+label,
	.GolSection form fieldset>#rdNote:checked+label {
		color: rgb(0, 203, 230);
		border-color: rgb(0, 203, 230);
	}

	.GolSection form fieldset>label:not(:first-of-type) {
		margin-left: 30px;
	}

	.GolSection ul {
		list-style: none;
		border-top: 2px solid #0068b7;
		padding-top: 20px;
	}

	.GolSection li {
		width: 100%;
		font-size: 13px;
		font-weight: bold;
		display: flex;
		margin-bottom: 4px;
		align-items: center;
		position: relative;
		justify-content: space-between;
	}

	.golInputSpan {
		padding-left: 120px;
		line-height: 1.4;
		font-size: 12px;
		width: 100%;
	}

	.golLabel {
		position: absolute;
		width: 30%;
	}

	.GolSection li:first-child{
		/* justify-content: start; */
		gap: 5px;
	}

	input#date
	 {
		height: 25px;
		width: 85%;
	}

	.check67{
		width: 20%;
	}

	label {
		/* display: flex; */
		align-items: center;
		gap: 5px;
	}

	.golVoiceImg {
		border-radius: 25px;
		width: 5%;
		vertical-align: middle;
	}

	label img {
		cursor: pointer;
	}

	.golInputSpan {
		width: 100%;
		padding-left: 70px;
		display: flex;
		position: relative;
	}

	.golIn {
		float: right;
		height: 28px;
		width: 100%;
	}

	.GolSection>div:first-of-type {
		text-align: center;
		margin-bottom: 50px;
	}

	.GolSection>div:first-of-type button {
		font-size: 25px;
		width: 15%;
		border: 1px solid #000;
		line-height: 60px;
		cursor: pointer;
	}

	.GolSection>div:first-of-type button:not(:first-child) {
		margin-left: 50px;
	}

	.GolSection>div:first-of-type button:nth-child(2) {
		background-color: #0068b7;
		color: #fff;
	}

	.GolSection>div:first-of-type button:not(:nth-child(2)) {
		background-color: #fff;
	}


	.GolSection [class ^='golPopup'] {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		box-sizing: border-box;
		flex-shrink: 0;
		display: none;
		align-items: center;
		justify-content: center;
	}

	.GolSection [class ^='golPopup'].active {
		display: flex;
	}

	.GolSection [class ^='golPopup'] div {
		width: 30%;
		background-color: #fff;
		position: relative;
	}

	.GolSection [class ^='golPopup'] .material-symbols-outlined {
		position: absolute;
		right: 15px;
		top: 15px;
		color: #fff;
		cursor: pointer;
	}

	.GolSection [class ^='golPopup'] p {
		background-color: #0068b7;
		color: #fff;
		padding: 20px;
		margin-bottom: 15px;
	}

	.GolSection [class ^='golPopup'] input {
		margin: 0 0 20px 10px;
		background: none;
		border: none;
		font-size: 20px;
		border: 1px solid #0068b7;
		padding: 8px;
		cursor: pointer;
	}

	.GolSection [class ^='golPopup'] input:hover {
		background-color: #0068b7;
		color: #fff;
	}


	.GolSection table {
		max-width: 1200px;
		width: 100%;
		margin: 0 auto 60px;
		border-top: 2px solid #0068b7;
		box-sizing: border-box;
	}

	.GolSection table thead {
		background-color: #f2f2f2;
	}

	.GolSection table thead tr th {
		font-size: 14px;
		padding: 20px 0;
		text-align: center;
	}

	.GolSection table tbody tr {
		border-bottom: 1px solid #ddd;
	}

	.GolSection table thead tr th,
	.GolSection table tbody tr td {
		border-left: 1px solid #ddd;
	}

	.GolSection table thead tr th:last-child,
	.GolSection table tbody tr td:last-child {
		border-right: 1px solid #ddd;
	}

	.GolSection table tbody tr td {
		font-size: 12px;
		padding: 20px 0;
		text-align: center;
	}

	.GolSection table tbody tr td:nth-child(1),
	.GolSection table tbody tr td:nth-child(2) {
		width: 20%;
	}

	.GolSection table tbody tr td:nth-child(3) {
		width: 30%;
	}

	.GolSection table tbody tr td:nth-child(4) {
		width: 5%;
	}
}