#canvas {
    background:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 10px 10px 50px;
}

#dailyreport{
    width: 100%
}

/* 스크린 사이즈에 따른 전체 화면 비율 조정 */
@media screen and (min-width: 760px) {
    #dailyreport{
        width: 80%
    }
}

@media screen and (min-width: 1024px) {
    #dailyreport{
        width: 70%
    }
}

@media screen and (max-width: 320px) {
    date {
        width: none;
    }
}



/* dailyreport 파트 조정*/
#dailyreport {
    --main-font-size: 13px;
    --main-height: 28px;
    --main-blue: #0068B7;
    --sub-blue: #0068b778;
}
#dailyreport input[type=text], input[type=password], input[type=number], input[type=file], input[type=tel], textarea {
    padding-left: 5px;
    height: var(--main-height) !important;
    font-size: var(--main-font-size);
}

.datepicker {
    margin-left: -20px;
}

#canvas label {
    font-size : var(--main-font-size);
    line-height: 25px;
}

#canvas th{
    height: var(--main-height);
    font-size: var( --main-font-size);
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}


#canvas td{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: var(--main-font-size);
    height: var(--main-height);
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

#canvas td:nth-child(4) {
    text-align: right;
}

.title {
    display: flex;
    justify-content: space-between;
}

.title button {
    width: 120px;
    margin: 0 0 0 auto;
    height: var(--main-height);
}

@media screen and (max-width: 280px) {
    .mtable__ul .content {
        display: inline-block;
        /*align-items: center;*/
        padding-left: 5px;
        margin-left: 10px;
    }
    .wp80 {
        width: 100%;
    }
    input[id="chk2"] {
        left: 55px;
    }
    .fold {
        position: absolute;
        left: 170px;
    }
}


.hidden {
    display: none;
}
.show {
    display: block;
}

.icon_mic{
    border-radius: 50%;
    height: 20px;
    margin-left: 55px;
    cursor: pointer;
}

.addBtn{
    border: 1px solid var(--sub-blue);
    width: 100px;
    color: var(--main-blue);
    background: #fff;
    font-size: 13px;
}


.picAdd {
    margin-top:10px;
    padding-top: 5px;
}

#canvas .btn-white, #canvas .btn-blue {
    line-height: 25px;
    height: 30px;
    font-weight: 600;
    font-size: var(--main-font-size);
}

#popup .btn-white, #canvas .btn-blue {
    width: 80px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width:80%;
}

.popup input {
    display: block;
    width: 100%;
    padding: 5px;
}

.popBtns {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
}

@media screen and (max-width: 425px) {
    .addBtn{
        font-size: 12px;
    }

    .btn-popup {
        height: 25px;
        font-size: 12px;
        line-height: 12px;
        width: 50px;
    }

}

#chk1 input{
    margin-left: 30px;
    margin-top: 6px;
}

.chk::last-child{
    color: red;
}

#chk1 {
    margin-left: 30px;
    height: var(--main-height);
}

#chk2 {
    margin-left: 5px;
}

@media screen and (max-width: 359px) {
    .adjustMax359 {
        flex-direction: column;
    }
    .haveTwo {
        margin-top: 4px;
    }
    #chk1 {
        margin-left: 0px;
    }
    #chk2 {
        margin-left: 25%;
    }

}

.datediv {
    width: 30%;
    display: flex;
}

#dropdown {
    height: var(--main-height);
    margin-left: 30px;
    line-height: 25px;
}

.haveTwo {
    display: flex;
}

.btn-area {
    display: flex;
    justify-content: space-evenly;
}

.select {
  display: flex;
  justify-content: center;
  width: 50px;
  border: 1px solid #ddd;
  font-size: var(--main-font-size);
}

.select ul {
  font-size: var(--main-font-size);
  border: 1px solid #ddd;
  display: none;
  position: absolute;
  background: #fff;
  border-top: none;
  cursor: pointer;
  width: 50px;
  list-style-type: none;
  padding-left: 0px;
}

.select.active ul {
  display: initial;
}

.select ul li {
  height: 23px;
  display: flex;
  justify-content: center;
}

.select ul li:hover {
  background: #ddd;
}