*, html, body {
    font-family: GmarketSansTTF !important;
}

header {
    display: none
}

.select_area {
    padding: 0 25px;
    margin-top: 30px;
}

.select_box {
    width: 100%;
    height: 150px;
    display: flex;
    margin: 10px 0;
}

.select_box > div {
    width: 50%;
}