@charset "UTF-8";

@font-face {
  font-family: 'GmarketSansTTF';
  font-style: normal;
  font-weight: 600;
  src: url(/resources/fonts/GmarketSansTTFBold.ttf) format('woff');
}
@font-face {
  font-family: 'GmarketSansTTF';
  font-style: normal;
  font-weight: 500;
  src: url(/resources/fonts/GmarketSansTTFMedium.ttf) format('woff');
}
@font-face {
  font-family: 'GmarketSansTTF';
  font-style: normal;
  font-weight: 400;
  src: url(/resources/fonts/GmarketSansTTFLight.ttf) format('woff');
}

/*
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 14px; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

* {
  font-family: 'Nanum Gothic', '돋움', Dotum, sans-serif;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-size: 14px;
  background-color: #f5f5f5;
  color: #333;
  height: 100%; }

a {
  color: #333;
  text-decoration: none; }
a.underline {
  text-decoration: underline; }

a:hover, a:focus {
  text-decoration: none; }

input[type=text], input[type=button], input[type=password], input[type=number], input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0; }

/* IE 10, 11의 네이티브 화살표 숨기기 */
/*select::-ms-expand { display: none; }*/
input, select {
  vertical-align: middle;
  border: 1px solid #ddd;
  box-sizing: border-box;
  color: #616161;
  background: #fff; }

select {
  padding-left: 5px;
  height: 35px; }

input[type=text], input[type=password], input[type=number], input[type=file] {
  padding-left: 5px;
  height: 35px; }

input[type=button], input[type=submit] {
  cursor: pointer; }

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer; }

textarea {
  vertical-align: middle;
  background: #fff;
  border: 1px solid #ddd;
  box-sizing: border-box;
  color: #616161;
  padding: 5px; }

textarea::placeholder {
  color: #9d9d9d; }

input::placeholder {
  color: #9d9d9d; }

.clear {
  clear: both; }

.clear:after {
  content: '';
  display: block;
  clear: both;
}

.b-loginM{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.b-loginM__inner{
  background-image: url("/resources/image/login/bg-login-m.png");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 414px;
  height: 736px;
  padding: 0 15px;
  background-size: 100% 736px;
}
.b-loginM__inner.join{
  background-image: url("/resources/image/login/bg-login-m3.png");
}
.b-loginM__top{
  width: 100%;
  height: 230px;
  background-image: url("/resources/image/login/img-login-top3.png");
  background-repeat: no-repeat;
  background-position: 88% 16px;
  margin-top: 50px;
}
.b-loginM__top.join{
  background-image: url("/resources/image/login/img-login-top2.png");
  height: 210px;
  background-position: 88% 16px;
}
.b-loginM__inner.join .b-loginM__btnGroup{
  margin: 15px 0;
}
.b-loginM__inner.join .b-loginM__form h2{
  margin: 10px 0;
}
.b-loginM__tit{
  font-weight: 600;
  text-align: center;
  color: #0064c1;
  font-size: 32px;
}
.b-loginM__tit span{
  color: #bbbbbb;
}

.b-loginM__tit.add{
  position: relative;
  padding-top: 30px;
}

.b-loginM__tit.add__none{
  position: relative;
  padding-top: 30px;
}

.b-loginM__tit.add::before{
  position: absolute;
  content: "/";
  left: 50%;
  transform: translateX(-50%);
  color: #bbb;
  font-size: 14px;
  top: 6px;
}

.b-loginM__form h2{
  font-size: 16px;
  font-weight: 500;
  color: #0064c1;
  position: relative;
  text-align: center;
  margin: 20px 0 30px;
}
.b-loginM__form h2:before{
  content:'';
  display: inline-block;
  position: absolute;
  width: calc(50% - 70px);
  height: 1px;
  top: 50%;
  left: 25px;
  background-color:#0064c1;
}
.b-loginM__form h2:after{
  content:'';
  display: inline-block;
  position: absolute;
  width: calc(50% - 70px);
  height: 1px;
  top: 50%;
  right: 25px;
  background-color:#0064c1;
}
.b-loginM__input{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}
.b-loginM__input label{
  font-size: 14px;
  font-weight: 500;
  color: #555;
  min-width: 70px;
}
.b-loginM__input input,.b-loginM__input select{
  max-width: 240px;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  border: 1px solid #dddddd;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.b-loginM__input select{
  padding-top: 4px;
  padding-right: 20px;
  background: #fff url(/resources/image/login/ico_selectbox.png) no-repeat 96% 50%;
  background-size: 8px;
  appearance: none;
}
.b-loginM__input select option{
  font-size: 14px;
  font-weight: 500;
  color: #333;
  padding: 3px 0;
}
.b-loginM__label{
  margin: 20px 0;
}
.b-loginM__label label{
  float: right;
  margin-right: 25px;
}
.b-loginM__label input{
  margin: 0;
  vertical-align: middle;
  margin-bottom: 2px;
}
.b-loginM__label span{
  font-size: 14px;
  font-weight: 500;
}
.b-loginM__btnGroup{
  text-align: center;
  margin: 10px 0 25px;
  font-size: 0;
  padding:0 25px;
}
.b-loginM__btn{
  width: calc(50% - 5px);
  height: 50px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  color: #0064c1;
  border: 1px solid #0064c1;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  box-shadow: 3px 2px 10px rgba(0,0,0,0.1);
}
.b-loginM__btn.add{
  background-color: #0064c1;
  border: 1px solid #0064c1;

  color: #fff;
  margin-right: 10px;
}
.b-loginM__btn.change{
  background-color: #0064c1;
  border: 1px solid #0064c1;
  margin-right: 5px;
  color: #fff;
}
.b-loginM__btn.prev {
  background-color: #555;;
  border: 1px solid #555;
  color: #fff;
}

.b-question{
  width: calc(100% - 50px);
  margin: 0 25px;
  height: 40px;
  background-color: #f2f2f2;
  /*background-image: url(/resources/image/login/footer_tel.png);*/
  display: flex;
  align-items: center;
  justify-content: center;
}
.b-question span{
  font-size: 14px;
  color: #555;
  font-weight: 500;
  margin-top: 2px;
}
.b-question .fc-point{
  color: #0064c1;
  margin-right: 10px;
}

.b-selectCustomWrap{
  max-width: 240px;
  width: 100%;
  position: relative;
  border:1px solid #ddd;
  text-align: left
}
.b-selectCustomWrap a{
  color:#000;
  height: 34px;
  display: flex;
  align-items: center;
  padding: 0 20px 0 10px;
  text-decoration:none
}
.select_icon{
  display: block;
  content: '';
  clear: both;
  position:absolute;
  right:10px;
  top: 12px;
  width: 6px;
  height: 6px;
  border: 1px solid #888;
  border-top: none;
  transform: rotate(45deg);
  border-left: none;
}
.select_icon.active{
  border-top:1px solid #888;
  border-left: 1px solid #888;
  border-bottom: none;
  border-right: none;
  top: 15px;
}
.b-selectCustom{
  position: absolute;
  max-width: 240px;
  width: calc(100% + 2px);
  left: -1px;
  display: none;
  max-height: 210px;
  overflow: auto;
}
.b-selectCustom.active{
  display: block
}
.b-selectCustom li{
  min-height: 34px;
  align-items: center;
  border: 1px solid #ddd;
  text-align: left;
  padding: 0px 0px 0px 10px;
  cursor: pointer;
  display: flex;
  background-color: #fff;
}
.b-selectCustom li + li{
  border-top:none;
}
.b-selectCustom li span,.b-selectCustomWrap a span{
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #555;
  line-height: 34px;
}
.b-selectCustomWrap a span:first-of-type{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.b-selectCustom li span:first-of-type{
  width: 55%;
  border-right: 1px solid #ddd;
}
.b-selectCustomWrap a span:first-of-type{
  width: 60%;
  border-right: 1px solid #ddd;
}
.b-selectCustom li span:last-of-type{
  width: 45%;
  text-align: center;
}
.b-selectCustomWrap a span:last-of-type{
  width: 40%;
  text-align: center;
}
.b-selectCustom li:hover{
  background-color: #ddd;
}

.b-errorBox{
  width: 900px;
  margin: 0 auto;
}
.b-loginM-wrap{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.checkbox-group{
  text-align: center;
  margin: 30px 0;
  font-size: 14px;
  font-weight: 500;
  color: #555;
}
.checkbox-group button{
  margin-top: 4px;
}
.checkbox-group button a{
  color: #0064c1;
  font-size: 14px;
  font-weight: 500;
}
.checkbox-f{
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox-f > input{
  margin-bottom: 4px;
  margin-right: 5px;
  margin-top: 0px;
}
.line{
  border-top: 1px solid #0064c1;
  margin: 15px 25px;
}
.que-icon{
  display: none;
  margin-right: 10px;
}
@media screen and (max-width: 330px){
  .que-dis-mn{
    display: none;
  }

  .que-dis-b{
    display: block;
  }
}

.dis-f {
  display: flex;
}