.password-change-form {
  display: flex;
  justify-content: center;
}
.password-change-form .password-change-form-inner {
  background-image: url(/image/login/bg-login-m3.png);
  background-repeat: no-repeat;
  width: 100%;
  max-width: 414px;
  height: 736px;
  padding: 0 15px;
  background-size: 100% 736px;
  box-sizing: border-box;
}
.password-change-form .password-change-form-inner .wrap {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.password-change-form .password-change-form-inner .wrap .password-change-title {
  font-weight: 600;
  text-align: center;
  color: #0064c1;
  font-size: 32px;
}
.password-change-form .password-change-form-inner .wrap .password-change-title span {
  color: #bbbbbb;
}
.password-change-form .password-change-form-inner .wrap .line {
  border-top: 1px solid #0064c1;
  margin: 15px 25px;
}
.password-change-form .password-change-form-inner .wrap .input-form {
  padding: 35px 0;
}
.password-change-form .password-change-form-inner .wrap .input-form label {
  font-size: 14px;
  font-weight: 500;
  color: #555;
  min-width: 70px;
}
.password-change-form .password-change-form-inner .wrap .input-form .password-change-input {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  box-sizing: border-box;
}
.password-change-form .password-change-form-inner .wrap .input-form .password-change-input input {
  max-width: 145px;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  border: 1px solid #dddddd;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  appearance: none;
  border-radius: 0;
}
.password-change-form .password-change-form-inner .wrap .password-change-btnGroup {
  display: flex;
  margin: 15px 0;
  ext-align: center;
  margin: 10px 0 25px;
  font-size: 0;
  padding: 0 25px;
}
.password-change-form .password-change-form-inner .wrap .password-change-btnGroup .password-change-btn, .password-change-form .password-change-form-inner .wrap .password-change-btnGroup .redirect-back {
  border: 1px solid #0064c1;
  margin-right: 10px;
  width: calc(50% - 5px);
  height: 50px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  color: #0064c1;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.1);
}
.password-change-form .password-change-form-inner .wrap .password-change-btnGroup .password-change-btn {
  border: 1px solid #0064c1;
  background-color: #0064c1;
  color: #fff;
}
.password-change-form .password-change-form-inner .wrap .password-change-btnGroup .redirect-back {
  background-color: #555;
  border: 1px solid #555;
  color: #fff;
}
.password-change-form .password-change-form-inner .wrap .question {
  width: calc(100% - 50px);
  margin: 0 25px;
  height: 40px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.password-change-form .password-change-form-inner .wrap .question .ask_text {
  margin-top: 3px;
  color: #0064c1;
  margin-right: 10px;
}
.password-change-form .password-change-form-inner .wrap .question span {
  font-size: 14px;
  color: #555;
  font-weight: 500;
  margin-top: 2px;
}

/*# sourceMappingURL=passwordChangeForm.css.map */
