.password-change-form {
  display: flex;
  justify:{
    content: center;
  }

  .password-change-form-inner {
    width: 100%;
    max:{
      width: 414px;
    }
    height: 736px;
    padding: 0 15px;
    background:{
      size: 100% 736px;
      image: url(/image/login/bg-login-m3.png);
    }

    .wrap {
      top: 50%;
      position: relative;
      transform: translateY(-50%);

      .password-change-title {
        text:{
          align: center;
        }
        font:{
          size: 32px;
          font-weight: 600;
        }
        color: #0064c1;

        span {
          color: #bbbbbb;
        }
      }

      .line {
        border:{
          top: 1px solid #0064c1;
        }
        margin: 15px 25px;
      }

      .input-form {
        padding: 35px 0;

        label {
          min-width: 70px;
          font:{
            size: 14px;
            font-weight: 500;
          }
          color: #555;
        }

        .password-change-input {
          padding: 0 25px;
          margin:{
            top: 10px;
          }
          display: flex;
          justify:{
            content: space-between;
          }
          align:{
            items: center;
          }

          input {
            width: 100%;
            max:{
              width: 145px;
            }
            height: 40px;
            padding: 0 15px;
            border: 1px solid #dddddd;
            font:{
              size: 14px;
            }
            font:{
              weight: 500;
            }
            color: #333;

            border:{
              radius: 0;
            }
          }
        }
      }


      .password-change-btnGroup {
        padding: 0 25px;
        margin: 10px 0 25px;
        display: flex;
        ext:{
          align: center;
        }
        font:{
          size: 0;
        }


        .password-change-btn, .redirect-back {
          height: 50px;
          width: calc(50% - 5px);
          border: 1px solid #0064c1;
          border:{
            radius: 5px;
          }
          margin:{
            right: 10px;
          }
          display: inline-block;
          text:{
            align: center;
          }
          font:{
            weight: 500;
            size: 16px;
          }
          color: #0064c1;
          line:{
            height: 50px;
          }
          box:{
            shadow: 3px 2px 10px rgba(0, 0, 0, 0.1);
          }
        }

        .password-change-btn {
          border: 1px solid #0064c1;
          color: #fff;
          background:{
            color: #0064c1;
          }
        }

        .redirect-back {
          border: 1px solid #555;
          color: #fff;
          background:{
            color: #555;
          }
        }
      }

      .question {
        width: calc(100% - 50px);
        height: 40px;
        margin: 0 25px;
        display: flex;
        justify:{
          content: center;
        }
        align:{
          items: center;
        }
        background:{
          color: #f2f2f2;
        }

        .ask_text {
          margin:{
            top: 3px;
            right: 10px;
          }
          color: #0064c1;
        }

        span {
          margin-top: 2px;
          font:{
            size: 14px;
          }
          font:{
            weight: 500;
          }
          color: #555;
        }
      }
    }
  }
}