.terms_title {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    line-height: 25px;
    font-size: 16px;
    font-weight: 700;}
.terms_text {
    margin: 20px 0 30px; }

.terms_text_t2 {
    padding-left: 10px; }

.terms_text_t1 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700; }