<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="/manage/manage_header :: headerFragment"></th:block>

<th:block th:replace="/include/adding_manage_head :: headFragment"></th:block>

<head>
    <link href="/css/manage/step5/step5Index.css" rel="stylesheet" type="text/css">
</head>

<container class="step5">
    <div class="step5_wrapper">
        <div class="sub_title">
            <h2>
                차량관리 차계부 등록
                <img src="/image/icons/ico_que.png" alt="도움말" class="info"/>
            </h2>
        </div>

        <div class="line"></div>

        <form class="option-form" name="optionForm">
            <input type="hidden" name="driveId" value = "0" required>

            <div class="payment-chk-wrapper">
                <h3>결재</h3>
                <input name="paymentChk" type="checkbox">
            </div>

            <div class="period-wrapper">
                <h3>날짜</h3>
                <input type="date" id="reg-date" name="driveDate" required>
                <button type="button" class="retrieval-btn" onclick="retrieval()" required>조회</button>
            </div>

            <div class="item-wrapper">
                <h3>품목</h3>
                <select class="item-inner" name="item" required>
                    <option value="주유">주유</option>
                    <option value="요소수">요소수</option>
                    <option value="엔진오일">엔진오일</option>
                    <option value="정비(수리)">정비(수리)</option>
                    <option value="기타">기타</option>
                </select>
            </div>

            <div class="last-km-wrapper">
                <h3>최종 주행 거리 (Km)</h3>
                <input name="lastKm" type="number" placeholder="최종 주행 거리">
            </div>

            <div class="used-amount-wrapper">
                <h3>사용 금액</h3>
                <input name="usedAmount" type="number" placeholder="사용 금액">
            </div>

            <div class="used-oil-wrapper">
                <h3>주유량 (L)</h3>
                <input name="usedOil" type="number" placeholder="주유량">
            </div>

            <div class="memo-wrapper">
                <h3>메모</h3>
                <textarea name="memo"></textarea>
            </div>

            <div class="repl-active-wrapper">
                <h3>교환 주기 입력</h3>
                <input name="replActive" type="checkbox">
            </div>

            <div class="repl-date-wrapper">
                <h3>교환 예정일</h3>
                <input type="date" name="replDate" id="repl-date" disabled>
            </div>

            <div class="repl-km-wrapper">
                <h3>교환 주행 거리</h3>
                <input name="replKm" type="number" placeholder="교환 주행 거리" disabled>
            </div>

            <div class="repl-chk-wrapper">
                <h3>교환 완료 확인</h3>
                <input name="replChk" type="checkbox" required disabled>
            </div>

            <div class="bottom-btn-wrapper">
                <button type="button" class="save-btn" onclick="save()">저장</button>
                <button type="button" class="delete-btn">삭제</button>
                <button type="button" class="input-init-btn">입력 초기화</button>
                <button type="button" class="prev-page-btn">이전 화면</button>
            </div>
        </form>

        <th:block th:replace="/manage/step5/step5_retrieval :: resultFragment"></th:block>

    </div>
</container>

<th:block th:replace="/include/manage_script :: scriptFragment"></th:block>
<script src="/js/manage/step5/click.js"></script>
<th:block th:replace="/manage/manage_footer :: footerFragment"></th:block>

</html>

