a{
    color: black;
    text-decoration: none;
}

.logo-circle{
    display: flex;
    flex-direction: column;

    padding-top: 20px;
    gap: 10px;
    position: relative;
}
.con:first-child img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.con p {
    font-weight: 900;
    font-size: 12px;
}

.con{
    margin-bottom: 20px;
}

.con:first-child {
    margin-top: 15px;
}



.footerWrapper{
    display: flex;
    height: 60;
}



@media screen and (max-width: 300px) {
    footer {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        background-color: #84b8e8;
        margin-top: 40px;
    }
    footer div {
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
    }
    footer div:first-child {
        text-align: center;
    }
    footer div a img {
        width: 90px;
    }

    footer div:last-child address {
        color: #fff;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
    }
    footer div:last-child address a {
        color: #fff;
    }

    .logo-circle{
        display: flex;
        flex-direction: column;
        font-weight: 900;
        font-size: 10px;
    }
    footer div a img{
        width: 70px;
    }

    .con p {
        font-weight: 900;
        font-size: 1rem;
    }
    .con:first-child img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-bottom: 5px;
    }

}


/* ! mobile */
@media screen and (min-width: 301px) and (max-width: 767px) {
    footer {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        background-color: #84b8e8;
        margin-top: 40px;
    }
    footer div {
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
    }
    footer div:first-child {
        text-align: center;
    }
    footer div a img {
        width: 90px;
    }

    footer div:last-child address {
        color: #fff;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
    }
    footer div:last-child address a {
        color: #fff;
    }

    .logo-circle{
        display: flex;
        flex-direction: column;
        font-weight: 900;
        font-size: 1.2rem;
    }
    .con:first-child img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-bottom: 5px;
    }

    .con p {
        font-weight: 900;
        font-size: 1rem;
    }
}

/* ! tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
    footer {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        background-color: #84b8e8;
        margin-top: 40px;
    }
    footer div {
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
    }
    footer div:first-child {
        text-align: center;
    }
    footer div a img {
        width: 150px;
    }

    footer div:last-child address {
        color: #fff;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
    }
    footer div:last-child address a {
        color: #fff;
    }
}

/* ! desktop */
@media screen and (min-width: 1280px) {
    footer {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        background-color: #84b8e8;
        margin-top: 40px;
    }
    footer div {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    footer div:first-child {
        text-align: center;
    }
    footer div a img {
        width: 150px;
    }

    footer div:last-child address {
        color: #fff;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }
    footer div:last-child address a {
        color: #fff;
    }
}
