footer {
    background-color: #84b8e8;
    padding: 10px;
}
.footerWrapper {
    display: flex;
}
.contentArea{
    margin-top: 10px;
}
.con {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.con-pic {
    width: 60px;
    display: block;
}
.con-logo-pic {
    width: 70px;
    border-radius: 50%;
}
.company-menu {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
.company-menu a {
    color: #fff;
}
.con-tex{
    font-weight: 600;
}