

/* ========cdw======= */
.b-header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}
.tb-container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ddd;
}
.tb-container__inner{
    display: flex;
    padding: 30px 40px;
}
.tb-container__inner > div{
    width: 50%;
}
.g-label{
    font-size: 22px;
    font-weight: 500;
    color: #333;
    position: relative;
    padding-left: 10px;
}
.g-label::before{
    content: '';
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: #bcd330;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
input[type=text].default-input__tb{
    height: 50px;
    border: 1px solid #ddd;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}
input[type=number].default-input__tb{
    height: 50px;
    border: 1px solid #ddd;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}
.point-txt__g{
    color: #bcd330;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
}
.input-box{
    margin: 5px 0 0 15px;
}
.left .label-box:first-of-type{
    margin-top: 0;
}
.label-box{
    margin-top: 40px;
}
.input-box button{
    height: 50px;
    border: 1px solid #ddd;
    display: inline-block;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}
.input-box button.cnt3{
    width: 32%;
}
.input-box button.cnt2{
    width: 49%;
    margin-top: 8px;
}
.input-box button.cnt2:nth-of-type(1){
    margin-top: 0;
}
.input-box button.cnt2:nth-of-type(2){
    margin-top: 0;
}
.btn-box.cnt3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-box.cnt2{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tb-container__inner .right{
    margin-left: 20px;
}
.poto-box{
    width: calc(100% - 15px);
    height: 410px;
    border: 1px solid #ddd;
    margin: 5px 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a-right{
    text-align: right;
}
.ml15{
    margin-left: 15px;
}
.add-btn__g{
    width: 200px;
    height: 60px;
    background-color: #bcd330;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.a-center{
    text-align: center;
}
.btn-box button.focus{
    border: 2px solid #bcd330;
    color: #bcd330;
}
.dis-n{
    display: none;
}
.poto-box img{
    max-width: 100%;
    max-height: 100%;
}
.layerMask__tb{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    overflow: auto;
    z-index: 9997;
}
.layerMask__inner__tb{
    min-width: 1024px;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.layer-popup__tb{
    background: #fff;
    width: 320px;
    padding: 40px 40px 20px;
    height: auto !important;
}
.mt30{
    margin-top: 30px;
}
.repoto-btn{
    border: 1px solid #ddd;
    height: 30px;
    width: 140px;
    font-weight: 500;
    font-size: 16px;
    color: #333;
    float: right;
}
.bg-gray__tb{
    background-color: #eeeeee;
    outline: none;
    cursor: auto;
}
.w-btn{
    width: 200px;
    height: 60px;
    background-color: #fff;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #dddd;
}
.left-input{

}
.add-btn__g.rg{
    width: 110px;
    height: calc(100% - 20px);
    margin-bottom: 20px;
    margin-left: 20px;
}
.dis-f{
    display: flex;
}
.left-top{
    display: flex;
    border-bottom: 1px solid #ddd;
    height: 140px;
}
.left-input .label-box{
    display: flex;
    align-items: center;
}
.left-input .label-box label{
    width: 140px;
}
.calc120{
    width: calc(100% - 120px);
}
.left-input .label-box{
    margin-top: 0px;
    margin-bottom: 20px;
}
.g-span{
    color: #333;
    font-size: 22px;
    font-weight: 500;
}
.dis-f-c{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.b-step01{
    width: 430px!important;
}
.b-step01 a{
    display: block;
    border: 1px solid #ddd;
    height: 65px;
    line-height: 65px;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    word-break: keep-all;

}
.b-step01 .cnt1{
    background-image: url(/image/img-step01-01.png);

}
.b-step01 .cnt2{
    background-image: url(/image/img-step01-02.png);
    background-position: 15px center;
    padding-left: 20px;
}
.b-step01 .cnt3{
    background-image: url(/image/img-step01-03.png);
    background-position: 40px center;

}
.b-step01 a:last-of-type{
    margin-bottom: 0;
}
.mt150{
    margin-top: 150px;
}
.b-step01 .b-step01__cnt3,.b-step01 .b-step01__cnt2{
    display: flex;
}
.b-step01 .b-step01__cnt3 a{
    width: 33.3%;
    margin-right: 10px;
}
.b-step01 .b-step01__cnt2 a{
    width: 50%;
    margin-right: 10px;
}

.b-step01 .b-step01__cnt3 a.vol2{
    width: 66.7%;
    margin-right: 10px;
}
.b-step01 .b-step01__cnt2 a:last-of-type{
    margin-right: 0;
}
.b-step01 .b-step01__cnt3 a:last-of-type{
    margin-right: 0;
}
/* =============bsm=============== */
.b-header.n-line{border: none}

.txtell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tb-container.tb-contents{
    padding-left: 40px;
    padding-right: 40px;
    height: calc(100% - 102px);
    box-sizing: border-box;
    overflow-y: auto;
    position: relative;
}

.hp100{height: 100%;}

.table-wrap{
    border-top: 1px solid #bcd330;
    margin-top: 40px;
}
table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
table.table-list{ margin-bottom: 30px; }
table tr td:first-of-type.active{
    background-image: url(//image/ico-check.png);
    background-repeat: no-repeat;
    background-position: 10px center;
}
table th{
    border-bottom: 2px solid #bcd330;
    height: 60px;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    color: #bcd330;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: #fff;
}
table td{
    text-align: left;
    height: 60px;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    border-bottom: 1px solid #ddd;
}
.choice-btn{
    background-color: #bcd330;
    width: 85px;
    height: 40px;
}
.choice-btn > a{
    width: 100%;
    height: 100%;
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tb-container__inner > div.add-inner{height: auto;}
.tb-container__inner.add-inner{
    flex-direction: column;
}
.table-list2 td{
    padding: 10px 0px;
    border-bottom: 1px solid #ddd;
}

.progress-layer {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 12;
}
.progress-layer > h1 {
    text-align: center;
    font-size: 48px;
    margin: 200px auto;
}
.progress-layer > div {
    width: 300px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    justify-content: space-between;

}
.progress-layer > div > div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ddd;
}
