* {
  font-family: GmarketSansTTF;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

::-webkit-calendar-picker-indicator {
  position: absolute;
  padding-left: 325px;
}

.red-line-divider{
  border-top: 2px solid red;
  border-bottom: 1px solid #ddd;
}