.submitter-search-result, .search-result, .group-search-result {
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.35);
}
.submitter-search-result .search-result-wrapper, .search-result .search-result-wrapper, .group-search-result .search-result-wrapper {
  width: 90%;
  max-width: 600px;
  height: 90%;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #fff;
  overflow-y: auto;
}
.submitter-search-result .search-result-wrapper .pop-up-close-wrapper, .search-result .search-result-wrapper .pop-up-close-wrapper, .group-search-result .search-result-wrapper .pop-up-close-wrapper {
  height: 30px;
  display: flex;
}
.submitter-search-result .search-result-wrapper .pop-up-close-wrapper .pop-up-close, .search-result .search-result-wrapper .pop-up-close-wrapper .pop-up-close, .group-search-result .search-result-wrapper .pop-up-close-wrapper .pop-up-close {
  width: 14px;
  height: 14px;
  top: 10px;
  right: 14px;
  border: 0 solid #ddd;
  border-radius: 5px;
  display: block;
  position: absolute;
  background-image: url(/image/icons/ico_close.png);
  background-size: 14px, 14px;
  background-color: #0064c1;
  cursor: pointer;
}
.submitter-search-result .search-result-wrapper .pop-up-close-wrapper .pop-up-close .screen-off, .search-result .search-result-wrapper .pop-up-close-wrapper .pop-up-close .screen-off, .group-search-result .search-result-wrapper .pop-up-close-wrapper .pop-up-close .screen-off {
  z-index: -9999;
}
.submitter-search-result .search-result-wrapper .title-wrapper, .search-result .search-result-wrapper .title-wrapper, .group-search-result .search-result-wrapper .title-wrapper {
  margin: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.submitter-search-result .search-result-wrapper .payment-wrapper, .search-result .search-result-wrapper .payment-wrapper, .group-search-result .search-result-wrapper .payment-wrapper {
  display: flex;
  justify-content: right;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 12px;
}
.submitter-search-result .search-result-wrapper .payment-wrapper .payment-btn, .search-result .search-result-wrapper .payment-wrapper .payment-btn, .group-search-result .search-result-wrapper .payment-wrapper .payment-btn {
  width: 80px;
  height: 40px;
  border: 1px solid #0068b7;
  margin: 5px;
  text-align: center;
  color: #0064c1;
  background: #fff;
  font-weight: 600;
  cursor: pointer;
}
.submitter-search-result .search-result-wrapper .table-wrapper, .search-result .search-result-wrapper .table-wrapper, .group-search-result .search-result-wrapper .table-wrapper {
  display: flex;
  justify-content: center;
}
.submitter-search-result .search-result-wrapper .table-wrapper table, .search-result .search-result-wrapper .table-wrapper table, .group-search-result .search-result-wrapper .table-wrapper table {
  border-spacing: 0;
  border-collapse: collapse;
}
.submitter-search-result .search-result-wrapper .table-wrapper table .submitter-key th, .submitter-search-result .search-result-wrapper .table-wrapper table .group-report-key th, .submitter-search-result .search-result-wrapper .table-wrapper table .drive-report-key th, .search-result .search-result-wrapper .table-wrapper table .submitter-key th, .search-result .search-result-wrapper .table-wrapper table .group-report-key th, .search-result .search-result-wrapper .table-wrapper table .drive-report-key th, .group-search-result .search-result-wrapper .table-wrapper table .submitter-key th, .group-search-result .search-result-wrapper .table-wrapper table .group-report-key th, .group-search-result .search-result-wrapper .table-wrapper table .drive-report-key th {
  padding: 8px 7px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 11px;
  background: #f2f2f2;
}

/*# sourceMappingURL=step9SubmitterRetrieval.css.map */
