.line {
  width: 100%;
  height: 2px;
  margin: 15px 0px;
  background: #0068b7;
}



.step6 {
  display: flex;
  justify-content: center;
  background: #d1d1d1;
  color: #333536;

  .step6_wrapper {

    padding: 20px 10px 50px;
    background: #ffffff;

    .sub_title {

      h1 {
        display: flex;
        justify-content: center;
        font-size: 21px;
        font-weight: bold;
        align-items: center;
        gap: 5px;

        img {

        }
      }
    }

    .option-form {

      .period-wrapper {
        padding: 5px 5px;
        margin: 20px;
        overflow: auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        h1 {
          width: 50px;
          font-size: 14px;
        }

        .period-inner {
          input {
            font-family: "Noto Sans KR", sans-serif;
            font-size: 13px;
            border: 1px solid #ddd;
            padding: 5px 10px;
            cursor: pointer;
            width: 120px;
            text-align: center;
          }

          span {

          }
        }
      }

      .item-wrapper {
        padding: 5px 5px;
        margin: 20px;
        overflow: auto;

        display: flex;
        align-items: center;
        position: relative;

        h1 {
          width: 50px;
          font-size: 14px;
        }

        .item-inner {
          margin-left: 75px;
          border: 1px solid #ddd;
          padding: 5px 10px;
          cursor: pointer;
          width: 260px;
          text-align: center;

          option {

          }
        }
      }

      .sorting-wrapper {
        padding: 5px 5px;
        margin: 20px;
        overflow: auto;

        display: flex;
        align-items: center;
        position: relative;


        h1 {
          width: 50px;
          font-size: 14px;
        }

        .sorting-inner {
          margin-left: 75px;
          border: 1px solid #ddd;
          padding: 5px 10px;
          cursor: pointer;
          width: 260px;
          text-align: center;

          option {

          }
        }
      }

      .search-btn-wrapper {

        padding-top: 30px;

        text-align: center;

        button {

          text-align: center;
          border: 1px solid #0068b7;
          cursor: pointer;
          background: #fff;
          font-size: 16px;
          color: #0064c1;
          font-weight: 600;
          width: 120px;
          height: 40px;
          line-height: 38px;

          line-height: 38px;
          background-image: url(/image/icons/ico_search-b.png);
          background-position: 25px 9px;
          background-repeat: no-repeat;
          background-size: 23px;
          text-indent: 20px;

        }
      }
    }
  }
}