<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="/include/header :: headerFragment"></th:block>


<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="msapplication-TileImage" content="/image/favicon/favicon.png">
	<link rel="shortcut icon" href="/image/favicon/favicon.png">

	<meta property="og:image" content="/image/favicon/favicon.png">
	<meta property="og:title" content="배차관리시스템">

	<!-- js -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery.modal-master/js/jquery.modal.js" ></script>

	<script src="/js/login/login.js"></script>

	<!--CSS-->
	<link href="/css/login.css" rel="stylesheet" type="text/css">
	<link href="/js/jquery.modal-master/css/jquery.modal.css"  type="text/css" rel="stylesheet" />
	<link href="/js/jquery.modal-master/css/jquery.modal.theme-xenon.css"  type="text/css" rel="stylesheet" />
	<link href="/js/jquery.modal-master/css/jquery.modal.theme-atlant.css"  type="text/css" rel="stylesheet" />

	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-messaging.js"></script>

	<!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
	<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-analytics.js"></script>

	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=64bdd806e937defb179aa9a2b9cc6c95&libraries=services"></script>

	<script src="/js/include/header.js"></script>

</head>
<style>
	*,html,body{
		font-family: GmarketSansTTF!important;
	}
	header{display: none}
</style>
<body>
<div class="b-loginM">
	<section class="b-loginM__inner">
		<div class="b-loginM__top"></div>
		<h1 class="b-loginM__tit">
			덤프트럭관리<span>시스템</span>
		</h1>
		<form method="post" name="loginfrm" onsubmit="return false;">
			<input type="hidden" name="address">
			<input type="hidden" name="regid" />

			<div class="b-loginM__form">
				<h2>로그인</h2>
					<input type="hidden" name="userSS" value="KIWON 골재">
				<div class="b-loginM__input">
					<label>아이디</label>
					<input type="text" name="userId" autocomplete=off onkeydown="if(event.keyCode == 13) $.loginCheck();">
				</div>
				<div class="b-loginM__input">
					<label>비밀번호</label>
					<input type="password" name="userPw" onkeydown="if(event.keyCode == 13) $.loginCheck();">
				</div>
			</div>
			<div class="b-loginM__label clear" style="padding: 0 25px;">
				<input type="button" class="btn" value="회원가입" onclick="moveJoin();">
				<label style="margin: 0;">
					<input type="checkbox" name="id_save">
					<span>아이디/패스워드 저장</span>
				</label>
			</div>
			<div class="b-loginM__btnGroup dis-f">
				<button class="b-loginM__btn add" type="button" onkeydown="if(event.keyCode == 13) return false;" onclick="location.href='/trial'">체험, 둘러보기</button>
				<button class="b-loginM__btn add" type="button" onkeydown="if(event.keyCode == 13) return false;" onclick="$.loginCheck()">로그인</button>

			</div>
		</form>
		<div class="b-question" >
			<span class="fc-point que-dis-mn" style="margin-top: 3px; font-weight: 500;">
				문의
			</span>
			<img src="/image/icons/ico_que.png" alt="" class="que-dis-b que-icon" onclick="$.openLayerHelpMsgPopUp(this, 'W01');">
			<span>02-6012-7406 / 010-3717-7406</span>
		</div>


	</section>
</div>
</body>

<th:block th:replace="/include/footer :: footerFragment"></th:block>
</html>
