<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="/include/head :: headFragment"></th:block>

<head>
	<link href="/css/login/passwordChangeForm.css" rel="stylesheet" type="text/css">
</head>

<script th:inline="javascript">
	const userIdIDX = [[${session.loginInfo.userIdIDX}]];
</script>

<body>
<div class="password-change-form">
	<section class="password-change-form-inner">
		<div class="wrap">
			<h2 class="password-change-title">암호 재설정</h2>
			<div class="line"></div>
			<div class="input-form">
				<form method="post" name="passwordChangeForm">
					<input type="hidden" name="userIdIDX">
					<div class="password-change-input">
						<label>새 비밀번호</label>
						<input type="password" name="userPwd" placeholder="4자리 이상">
					</div>
					<div class="password-change-input">
						<label>새 비밀번호 확인</label>
						<input type="password" id="userPwdChk" placeholder="4자리 이상">
					</div>
				</form>
			</div>
			<div class="password-change-btnGroup">
				<button class="password-change-btn" type="button" onclick="changePassword()">저장</button>
				<button class="redirect-back" type="button" onClick="history.go(-1)">이전 화면</button>
			</div>
			<div class="question">
			<span class="ask_text">
				문의
			</span>
				<span>02-6012-7406 / 010-3717-7406</span>
			</div>
		</div>
	</section>
</div>

<script>

</script>
<script src="/js/login/passwordChangeForm.js"></script>

</body>
</html>