<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="/include/head :: headFragment"></th:block>

<head>
</head>

<body>
<div class="login">
	<section class="login-inner">
		<div class="wrap">
			<h1 class="login-titie">
				배차관리<span>시스템</span>
			</h1>
			<h1 class="login-titie">암호 재설정</h1>

			<form name="passwordForm" onsubmit="return false;">
				<div class="pwd-frm">
					<div class="line"></div>
					<div class="pwd-input">
						<input type="hidden" name="uuserID" th:value="${session.loginInfo.uuserID}">
					</div>
					<div class="login-input">
						<label>새 비밀번호</label>
						<input type="password" placeholder="숫자4자리 이상" name="userPw"  autocomplete="off">
					</div>
					<div class="login-input">
						<label>새 비밀번호 확인</label>
						<input type="password" placeholder="숫자4자리 이상" name="re_userPw" autocomplete="off">
					</div>

					<div class="login-btnGroup">
						<button class="login-btn change" type="button" onclick="$.pwChange()">저장</button>
						<button class="login-btn prev" type="button" onclick="$.prevPage()">뒤로</button>
					</div>
				</div>
			</form>

			<div class="question" >
			<span class="">
				문의
			</span>
				<img src="/image/icons/ico_que.png" alt="" class="">
				<span>02-6012-7406 / 010-3717-7406</span>
			</div>
		</div>
	</section>
</div>
</body>

</html>