<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="resultFragment">

    <head>
        <link href="/css/manage/step5/step5Retrieval.css" rel="stylesheet" type="text/css">
    </head>

    <div class="search-result">
        <div class="search-result-wrapper">

            <div class="pop-up-close-wrapper">
                <button class="pop-up-close" type="button" onclick="closePopUp('search-result')">
                    <i class="close-icon"></i>
                    <span class="screen-off"></span>
                </button>
            </div>

            <div class="title-wrapper">
                조회 리스트
            </div>
            <div class="line"></div>

            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr class="table-key">
                        <th class="th-driveDate">날짜</th>
                        <th class="th-fromSite">상차지</th>
                        <th class="th-toSite">하차지</th>
                        <th class="th-item">품목</th>
                        <th class="th-quantity">대수</th>
                        <th class="th-memo">비고</th>
                    </tr>
                    </thead>
                    <tbody class="table-tuple">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</th:block>
</html>