<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="resultFragment">

    <div class="group-search-result">
        <div class="search-result-wrapper">

            <div class="pop-up-close-wrapper">
                <button class="pop-up-close" type="button" onclick="closePopUp('group-search-result')">
                    <i class="close-icon"></i>
                    <span class="screen-off"></span>
                </button>
            </div>

            <div class="title-wrapper">
                그룹 조회 리스트
            </div>
            <div class="line"></div>

            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr class="table-key">
                        <th class="gth-groupTitle">제목</th>
                    </tr>
                    </thead>
                    <tbody class="group-table-tuple">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</th:block>
</html>