<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="/include/header :: headerFragment"></th:block>

<head>
    <link href="/css/manage/step8/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/common/loading.css">
    <link rel="stylesheet" type="text/css" href="/css/manage/step8/index.css">
</head>

<body>


<section class="sub-contents-wrap maxwrap">

    <div class="sub-title">
        <h1 class="sub-title__h1">
            <span class="v-mid">
                        제출처 전표 조회
            </span>
            <img src="/image/icons/ico_que.png" alt="" class="que-dis-mn"
                 onclick="$.openLayerHelpMsgPopUp(this, 'W05');">
        </h1>

        <ul class="location__ul">
            <li><span class="offscreen">홈</span></li>
            <li>
               <span>

                               제출처 전표 조회

               </span>
            </li>
        </ul>
    </div>


    <form name="search_frm" method="post">
        <input type="hidden" name="pageNo" value="1"/>
        <input type="hidden" id="searchDetailChk" name="searchDetailChk" value="0">
        <input type="hidden" name="sheetID" value="${!empty view ? view.sheetID : 0}">
        <div class="search-form">
            <div class="search-form-major" id="dateArea">
                <label>운행기간</label>
                <div class="date-wrap dis-ib dis-b-t">
                    <input type="text" id="start-date"
                           name="startDate" readonly autocomplete="off"><span class="unit">~</span>
                    <input type="text" id="end-date" name="endDate"
                           readonly autocomplete="off">
                </div>

                <button type="button" id="advsearch" class="btn btn-details">상세검색 열기 ▼</button>
            </div>

            <ul class="search-form-details dis-n searchArea">
                <li>
                    <label>구분</label>
                    <div class="input-group select">
                        <input type="text" class="wp100 clubAutocomplete trn" placeholder="구분" name="club" id="club"
                               value="${!empty view ? view.club : ''}"
                               autocomplete="off">
                        <select class="club " id="clubBox" onchange="$.selectBoxChange(this.value, 'club')">
                            <option value="전체">전체</option>
                            <option value="운반">운반</option>
                        </select>
                    </div>
                </li>
                <li>
                    <label>상차지</label>
                    <div class="input-group select">
                        <input type="text" class="wp100 fromsiteAutocomplete trn" placeholder="상차지" name="fromsite"
                               id="fromsite" autocomplete="off" value="${!empty view ? view.fromsite : ''}">
                        <select class="fromsite " id="fromsiteBox" onchange="$.selectBoxChange(this.value, 'fromsite')">
                            <option value="">전체</option>
                            <option value="구디">구디</option>
                        </select>
                    </div>
                </li>
                <li>
                    <label>하차지</label>
                    <div class="input-group select">
                        <input type="text" class="wp100 tositeAuto complete trn" placeholder="하차지" name="tosite"
                               id="tosite" autocomplete="off" value="${!empty view ? view.tosite : ''}">
                        <select class="tosite " id="tositeBox" onchange="$.selectBoxChange(this.value, 'tosite')">
                            <option value="">전체</option>
                            <option value="지밸리">지밸리</option>

                        </select>
                    </div>
                </li>
                <li>
                    <label>품목</label>
                    <div class="input-group select">
                        <input type="text" class="wp100 itemAuto complete trn" placeholder="품목" name="item" id="item"
                               value="${!empty view ? view.item : ''}" autocomplete="off">
                        <select class="item " id="itemBox" onchange="$.selectBoxChange(this.value, 'item')">
                            <option value="">전체</option>
                            <option value="출퇴근">출퇴근</option>
                        </select>
                    </div>
                </li>
                <li>
                    <label>차량번호</label>
                    <div class="input-group select">
                        <input type="text" class="wp100 CarNoAuto complete trn" placeholder="차량번호"
                               name="carNo" id="CarNo" value="${!empty view ? view.CarNo : ''}"
                               autocomplete="off">
                        <select class="CarNo " id="CarNoBox" onchange="$.selectBoxChange(this.value, 'CarNo')">
                            <option value="">전체</option>
                            <option value="자차">자차</option>
                        </select>
                    </div>
                </li>
            </ul>
        </div>


        <div style="text-align: center;padding-top: 30px;border: 1px solid #ddd;padding-bottom: 30px; margin: 0 0 10px;">
            <div style="width: 50%;  float: left;">
                <label style="display: inline-flex;align-items: center;justify-content: flex-start;"><input
                        type="radio" name="sortingCriteria" value="0-date" checked/>운행일 기준</label>
            </div>
            <div style="width: 50%;  float: left;">
                <label style="display:none"><input
                        type="radio" name="sortingCriteria" value="1-t"/></label>
            </div>
            <div style="display:none">
                <label style="display:none"><input
                        type="radio" name="sortingCriteria" value="2-t"/></label>
            </div>
            <div style="margin-left: 50%;">
                <label style="display: inline-flex;align-items: center; justify-content: flex-start;width: 155px;"><input
                        type="radio" name="sortingCriteria" value="3-carNo"/>차량 기준</label>
            </div>
            <div style="margin-left: 50%;">
                <label style="display: inline-flex;align-items: center; justify-content: flex-start;width: 155px;"><input
                        type="radio" name="sortingCriteria" value="4-item"/>품목 기준</label>
            </div>
            <div style="margin-left: 50%;">
                <label style="display: inline-flex;align-items: center; justify-content: flex-start;width: 155px;"><input
                        type="radio" name="sortingCriteria" value="5-qtyup"/>운반비 기준</label>
            </div>
            <div style="display:none">
                <label style="display: inline-flex;align-items: center;justify-content: flex-start;"><input
                        type="radio" name="sortingCriteria" value="6-t"/></label>
            </div>
        </div>
    </form>

    <div class="btn-area erpSearchBtn">
        <input type="button" class="search_btn" value="검색" onClick="bindList()">
    </div>

    <div id="tableshow">
        <div class="table-top" style="height: auto; display:  block; text-align: center">
            <p class="total">
                <span>데이터</span> <span class="cnt default-blue" id="receiptsCnt"></span>
                <span class="cnt default-blue" id="total"></span>
            </p>
        </div>

        <div style="width: 100%; overflow-x: auto; overflow-y: hidden;">
            <div class="agreement_container">
                <button class="common_btn" style="width: 110px;">운반금액<br><span class="resultPrice">50,000</span>
                </button>
                <div class="btnWraaper">
                    <button class="common_btn" onclick="$.allChkChange(1);">일괄결재</button>
                    <button class="common_btn" onclick="$.allChkChange(0);">일괄취소</button>
                </div>
            </div>

            <table class="list-table" id="tableOrderByDate">
                <colgroup>
                    <col style="width: 13%">
                    <col style="width: 13%">
                    <col style="width: 13%">
                    <col style="width: 13%">
                    <col style="width: 13%">
                    <col style="width: 13%">
                    <col style="width: 13%">
                    <col style="width: 13%">
                </colgroup>
                <thead>
                <tr>
                    <th>No</th>
                    <th class="th_header">운행일</th>
                    <th class="th_header">상차지</th>
                    <th class="th_header">하차지</th>
                    <th class="th_header">차량번호</th>
                    <th class="th_header">품목</th>
                    <th class="th_header">대수</th>
                    <th class="th_header">운반비</th>
                    <th class="th_header">진행</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

        <div>
            <section class="paging">
                <ul class="paging__ul" id="page-div">

                    <li><a style="cursor: pointer;" onclick="$.valuePg(1)"><img
                            src="/image/icons/ico_prev.png" alt="이전"></a></li>

                    <li class="pageNum">


                        <a style="cursor: pointer; @media screen and (min-width: 280px) and (max-width: 1024px);"
                           onclick="$.valuePg(1)"
                           class="active">1</a>


                    </li>

                    <li><a style="cursor: pointer;" onclick="$.valuePg(1);"><img
                            src="/image/icons/ico_next.png" alt="다음"></a></li>
                </ul>
            </section>
        </div>
    </div>
</section>


<div class="layerMask dis-n pop-wrap" id="pop-integrateform" tabindex="0">
    <div class="layerMask__inner" style="height: auto; width: 90%">


        <section class="layer-popup" style="height: 100%;">
            <div class="popSearch-listWrap integrateFromArea">

            </div>

        </section>
    </div>
</div>

<button class="screen_top up-btn">
    <img src="/image/icons/ico-top.png" style="width: 40px; height: 40px;">
</button>
</body>


<th:block th:replace="/include/footer :: footerFragment"></th:block>
<script type="text/javascript" src="/js/manage/step8/list.js"></script>
<script type="text/javascript" src="/js/manage/step8/index.js"></script>
<script type="text/javascript" src="/js/manage/step8/datepicker.js"></script>
<script src="/js/manage/step8/click.js"></script>
<script src="/js/manage/step8/DOMContentLoaded.js"></script>

</html>