<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="/manage/manage_header :: headerFragment"></th:block>

<head>
    <link href="/css/manage/step8/step8Index.css" rel="stylesheet" type="text/css">
</head>

<container class="step8">
    <div class="step8_wrapper">
        <div class="sub_title">
            <h2>
                제출처 전표 조회
                <img src="/image/icons/ico_que.png" alt="도움말" class="info"/>
            </h2>
        </div>

        <div class="line"></div>

        <form class="search-option-form" name="searchOptionForm">

            <input type="hidden" name="submitterIdFk" th:value="${session.submitterInfo.submitterId}" required>

            <div class="period-wrapper">
                <h3>운행 기간</h3>
                <label class="period-inner">
                    <input type="date" name="startDate">
                    <span>~</span>
                    <input type="date" name="endDate">
                </label>
            </div>

            <div class="sorting-wrapper">
                <h3>정렬<br>기준</h3>
                <select class="sorting-inner" name="sortingCriteria">
                    <option value="driveDate" selected>운행일순</option>
                    <option value="item">품목순</option>
                </select>
            </div>

            <div class="detail-search-wrapper">
                <button type="button" onclick="func.openAndCloseDetailSearch('detail-search-inner',this)">
                    상세 검색 열기
                </button>

                <div class="detail-search-inner">
                    <div class="from-site-wrapper">
                        <input name="fromSite" placeholder="상차지" autocomplete="off">
                        <div name="fromSites"></div>
                    </div>
                    <div class="to-site-wrapper">
                        <input name="toSite" placeholder="하차지" autocomplete="off">
                        <div name="toSites"></div>
                    </div>
                    <div class="item-wrapper">
                        <input name="item" placeholder="품목" autocomplete="off">
                        <div name="items"></div>
                    </div>
                    <div class="progress-wrapper">
                        <input name="progress" placeholder="진행 상태" autocomplete="off">
                        <div name="progressType">
                        </div>
                    </div>
                </div>

            </div>


            <div class="search-btn-wrapper">
                <button type="button" class="search-btn" onclick="popUpHandler.openPopUp('search-result'); func.driveReportsRetrieval()">검색
                </button>
            </div>
        </form>

        <th:block th:replace="/manage/step8/step8_retrieval :: resultFragment"></th:block>

    </div>
</container>

<th:block th:replace="/include/manage_script :: scriptFragment"></th:block>
<script src="/js/manage/step8/step8Handler.js"></script>
<script src="/js/manage/step8/loading.js"></script>

<th:block th:replace="/manage/manage_footer :: footerFragment"></th:block>

</html>

